*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(mobile-design.jpg);
    width: 50%;
    margin: auto;
}
@media only screen and (max-width: 600px){
body{
    background-image: url(mobile-design.jpg);
    width: 50%;
    margin: auto;
}
}
    

header{
    display: flex;
}

 main .item-a{
    display: flex;
    margin-top: 20px;
}
main .item-b{
    display: flex;
    margin-top: 20px;
}
main .item-c{
    display: flex;
    margin-top: 20px;
}
 header .huddle .try{
    margin-top: 50px;
    margin-bottom: 50px;
}
.try{
    float: right;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: white;
    padding:10px ;
    border-radius: 15px;
    width: 200px;
}
.get{
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #fe52c0;
    padding:10px ;
    border-radius: 15px;
    width: 200px;
}
header img{
    margin-top: 20px;
    margin-bottom: 60px;
}

.overlap{
    background-color: white;
    width: 50%;
    padding: 50px;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: -50px;
    position: relative;
    margin-top: 100px;
    
}
section h3{
    font-weight: bold;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
section button{
    background-color: #fe52c0;
    border-radius: 5px;
    color: white;
    padding: 10px;
    margin: 0;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    margin-right: 95px;
    width: 300px;

}



footer{
    display: flex;
    background-color:#00252e ;
    color: white;
    padding: 80px;
    margin-left: 30px;
}
footer p{
    font-size: 12px;
    width: 300px;
}
footer ul{
    list-style: none;
    margin-left: 100px;
}
footer ul li{
    margin-top: 20px;
}
footer  .unordered a{
    text-decoration: none;
    color: white;
}
footer span{
    display: block;
    margin-top: 20px;
}
footer .icon{
    display: inline;
    float: left;
    margin-right: 0;
    margin-right: 20px;
    
}
footer .icon-1{
    float: left;
    margin-top: 20px;
    margin-right: 10px;
}
footer .letter{
    float: left;
    margin-top: 40px;
    margin-right: 10px;

}
.item-right .copy{
    margin-right: 300px;
    margin-top: 0px;
    display: inline-block;
    width:300px
}
.item-right .copy-1{
    margin-right: 900px;
    margin-top: 200px;
    display: inline-block;
    margin-bottom:;
}
footer .logo-2{
    background-color: white;
    color: white;
    margin-right: 10px;
    
}
.